{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.user.username }}</td>
                <td>{{ message.date ? message.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ message.text }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{{ include('message/_form.html.twig') }}
{% endblock %}
